
body{
    background-color: #ffea00 ;
}
#Game-Title{
    text-align: center;
    font-size: 90px;
}

#main-content{
    text-align: center;
    font-size: 30px;
}

#btn-container{
    display: flex;
    justify-content: center;
}

#main-container , #main-container2{
    display:flex;   
    justify-content: center;

   /* align-items: flex-start;
   flex-direction: column;
   */
   
}


#score-labelling{
    flex-basis:10%;
    
}

#score-labelling  h3{
   /* border: 1px #ccc solid;*/
}

#score-container{
    flex-basis: 10%;
}
#score-container h4{
  /*  border: 1px #ccc solid;*/
    
}

#score-container{
}



