
body{
    background-color: #ffea00 ;
}
#Game-Title{
    text-align: center;
    font-size: 90px;
}

#main-content{
    text-align: center;
    font-size: 30px;
}

#main-container , #main-container2{
    display:flex;    
    border: 1px;
    justify-content: center;

   /* align-items: flex-start;
   flex-direction: column;
   */
   
}
#main-container div{
/*    border: 1px #ccc solid;*/
}

#score-labelling{
    flex-basis:22%;
    
}

#score-labelling  h3{
   /* border: 1px #ccc solid;*/
}

#score-container{
    flex-basis: 22%;
}
#score-container h4{
  /*  border: 1px #ccc solid;*/
    
}

#score-container{
}



